.carruselOfertas, footer .sponsors, footer .linksFooter, footer .metodosDePago, .seccionNosotros, .seccionNosotros__info, .seccionContacto__formulario, .seccionContacto__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoResp {
  display: none;
}

.nbHeader {
  height: 20vh;
  width: 100%;
  background-color: #152453 !important;
  border-bottom: 2px solid azure;
  position: fixed;
  z-index: 5;
}

.nbContainer {
  height: 100%;
  padding: 0px;
}

.nbCollapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nbBrand {
  height: 100%;
  margin: 0px;
  margin-left: 10vw;
}

.nbBrand img {
  height: 100%;
}

.nbUl {
  margin-left: 2vw;
}

.nbUl li {
  padding: 0vh 2vw;
}

.nbUl li a {
  color: azure;
  text-decoration: none;
  padding: 2vh 2vw;
  border-radius: 10px;
  font-size: 2.3rem;
  text-shadow: 0 0 10px black;
  -webkit-transition-property: background-color, font-size;
  transition-property: background-color, font-size;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.nbUl li a:hover {
  color: azure;
  font-size: 2.5rem;
  background-color: rgba(255, 255, 255, 0.4);
}

.nbButton {
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 50px;
}

.nbButton img {
  width: 50px;
  height: 50px;
}

.nbSearch {
  height: 40px;
  min-width: 250px;
}

.nbSearch input, .nbSearch button {
  font-size: 2rem;
}

.carruselOfertas, footer .sponsors, footer .linksFooter, footer .metodosDePago, .seccionNosotros, .seccionNosotros__info, .seccionContacto__formulario, .seccionContacto__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#seccionNosotros, #seccionOfertas, #seccionContacto, #seccionUbicacion {
  padding: 20vh 0vw;
}

main {
  padding-top: 25vh;
}

.mainDivInicio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.listaProductos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: inline-block;
  height: 100%;
  text-align: center;
}

.listaProductos ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 0%;
  width: 15vw;
}

.listaProductos__titulo {
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  padding: 3vh 2vw;
  text-shadow: 0 0 10px black;
}

.listaProductos__productos {
  width: 80%;
  background-color: #1a2c61;
  border: 2px solid azure;
  border-radius: 5px;
}

.listaProductos__productos button {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  background-color: #1a2c61;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 10px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  text-shadow: 0 0 10px black;
}

.listaProductos__productos button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.carruselOfertas {
  margin: 2vh 0vw;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.caPerSlider {
  width: 80%;
  border: 2px solid azure;
  border-radius: 5px;
}

.caPerSlider .carousel-inner {
  background-color: white;
}

.caPerSlider .carousel-inner img {
  margin: auto;
}

.marcas {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: center;
  width: 90%;
  margin: 0px auto;
  padding: 5vh 0vw;
}

.marcas p {
  font-size: 3rem;
  display: block;
  padding-bottom: 3vh;
  text-shadow: 0 0 10px black;
  font-style: italic;
}

.marcas__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.marcas img {
  margin: auto 0px;
  width: 12.5rem;
  height: 8rem;
  display: inline-block;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.marcas img:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}

.carruselOfertas, footer .sponsors, footer .linksFooter, footer .metodosDePago, .seccionNosotros, .seccionNosotros__info, .seccionContacto__formulario, .seccionContacto__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-shadow: 0 0 10px black;
  background-color: #152453;
  height: 30vh;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer img {
  width: 6vw;
}

footer .sponsors {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .sponsors p {
  font-size: 2rem;
  display: block;
  padding: 2vh;
  text-align: center;
}

footer .sponsors__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .sponsors__imgs img {
  padding: 1vh;
}

footer .linksFooter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .linksFooter ul li {
  display: inline-block;
  padding: 1vw;
}

footer .linksFooter ul li a {
  color: azure;
  text-decoration: none;
  font-size: 2rem;
}

footer .linksFooter p {
  color: azure;
  text-decoration: none;
  font-size: 2rem;
}

footer .metodosDePago {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .metodosDePago p {
  color: azure;
  text-decoration: none;
  font-size: 2rem;
}

.seccionOfertas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh 0vw;
  text-align: center;
}

.seccionOfertas__ofertas, .seccionOfertas__ofertaActual {
  width: 80%;
  margin: 20px auto;
  height: auto;
  border-radius: 10px;
  background-color: rgba(16, 11, 59, 0.5);
  border: 2px solid azure;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccionOfertas__ofertas p, .seccionOfertas__ofertaActual p {
  font-size: 5rem;
  padding: 1vh 0;
  text-shadow: 0 0 10px black;
}

.seccionOfertas__ofertas ul, .seccionOfertas__ofertaActual ul {
  padding: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.seccionOfertas__ofertas ul li, .seccionOfertas__ofertaActual ul li {
  margin: 5vh auto;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: width;
  transition-property: width;
}

.seccionOfertas__ofertas ul li img, .seccionOfertas__ofertaActual ul li img {
  width: 256px;
  height: 193px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  border: 2px solid azure;
}

.seccionOfertas__ofertas ul li img:hover, .seccionOfertas__ofertaActual ul li img:hover {
  width: 300px;
  height: 225px;
  -webkit-box-shadow: 0px 0px 20px 0px azure;
          box-shadow: 0px 0px 20px 0px azure;
}

.carruselOfertas, footer .sponsors, footer .linksFooter, footer .metodosDePago, .seccionNosotros, .seccionNosotros__info, .seccionContacto__formulario, .seccionContacto__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionNosotros {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 20px auto;
  height: auto;
  border-radius: 10px;
  background-color: rgba(16, 11, 59, 0.5);
  border: 2px solid azure;
  text-align: center;
}

.seccionNosotros__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
}

.seccionNosotros__info__titulo {
  display: inline-block;
  text-shadow: 0 0 10px black;
  font-size: 5rem;
  padding: 2vh 0vw;
}

.seccionNosotros__info__texto {
  display: inline-block;
  text-shadow: 0 0 10px black;
  width: 80%;
  font-size: 2.5rem;
}

.seccionNosotros__img {
  width: 50%;
}

.seccionNosotros__img img {
  width: 100%;
  margin: 5% 0%;
  border-radius: 15px;
  border: 2px solid azure;
}

.carruselOfertas, footer .sponsors, footer .linksFooter, footer .metodosDePago, .seccionNosotros, .seccionNosotros__info, .seccionContacto__formulario, .seccionContacto__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionContacto {
  width: 90%;
  margin: 20px auto;
  height: 70vh;
  border-radius: 10px;
  background-color: rgba(16, 11, 59, 0.5);
  border: 2px solid azure;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.seccionContacto__formulario, .seccionContacto__img {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccionContacto__formulario {
  width: 70%;
  padding: 3rem;
}

.seccionContacto__formulario form {
  width: 100%;
}

.seccionContacto__formulario__nyp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.seccionContacto__formulario p {
  font-size: 3rem;
  padding: 3vh 0;
  text-shadow: 0 0 10px black;
}

.seccionContacto__formulario input {
  color: black;
  font-size: 1.5rem;
}

.seccionContacto__formulario textarea {
  color: black;
  font-size: 1.5rem;
}

.seccionContacto__formulario .conFormNombre, .seccionContacto__formulario .conFormApellido {
  width: 49%;
  height: 5vh;
}

.seccionContacto__formulario .conFormEmail {
  width: 100%;
  height: 5vh;
  margin: 1.2vh 0vw;
}

.seccionContacto__formulario .conFormMensaje {
  width: 100%;
  height: 25vh;
  resize: none;
}

.seccionContacto__img img {
  width: 80%;
}

.seccionContacto__img p {
  display: inline-block;
  font-size: 2rem;
  text-shadow: 0 0 10px black;
  text-decoration: underline;
}

.seccionUbicacion {
  width: 90%;
  margin: 20px auto;
  height: auto;
  border-radius: 10px;
  background-color: rgba(16, 11, 59, 0.5);
  border: 2px solid azure;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionUbicacion__img, .seccionUbicacion__mapa {
  display: inline-block;
  text-align: center;
  width: 40vw;
}

.seccionUbicacion__img img {
  width: 100%;
}

.seccionUbicacion__mapa iframe {
  padding: 10px;
  width: 100%;
}

.seccionUbicacion__mapa__titulo {
  font-size: 3rem;
  padding: 2vh 0;
  text-shadow: 0 0 10px black;
}

.seccionUbicacion__mapa__info p {
  font-size: 2rem;
  padding: 1vh 0;
  text-shadow: 0 0 10px black;
  text-decoration: underline;
}

@media screen and (min-width: 890px) and (max-width: 1100px) {
  .mainDivInicio .listaProductos ul {
    width: 70%;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
    text-shadow: 0 0 10px black;
    width: 100%;
    height: 60vh;
  }
  footer img {
    width: 10vw;
  }
}

@media screen and (min-width: 709px) and (max-width: 889px) {
  .mainDivInicio .listaProductos ul {
    width: 70%;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
    text-shadow: 0 0 10px black;
    width: 100%;
    height: 60vh;
  }
  footer .sponsors__imgs img {
    width: 15vw;
  }
  footer .metodosDePago img {
    width: 8vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 708px) {
  .mainDivInicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .listaProductos {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 50%;
  }
  .listaProductos ul {
    width: 80%;
  }
  .carruselOfertas {
    margin-top: 5vh;
    padding: 5vh 0vw;
    width: 90%;
  }
  .caPerSlider {
    width: 100%;
  }
  .seccionContacto__formulario p {
    font-size: 2rem;
  }
  footer {
    margin-top: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-shadow: 0 0 10px black;
    width: 100%;
    height: 60vh;
  }
  footer .sponsors__imgs img {
    width: 20vw;
  }
  footer .metodosDePago img {
    width: 8vw;
  }
}

@media screen and (max-width: 1100px) {
  .nbHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 2px solid azure;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
  }
  .seccionNosotros__info__texto {
    font-size: 2rem;
  }
  .seccionNosotros__info__titulo {
    font-size: 3rem;
  }
  .seccionNosotros__img {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .nbHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nbHeader .logo {
    display: none;
  }
  .nbHeader a {
    width: auto;
  }
  .nbHeader .nbBrand {
    max-width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nbHeader .nbBrand .logoResp {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  .nbButton {
    margin-right: 10vw;
  }
  .nbButton img {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
  }
  .nbCollapse.show, .nbCollapse.collapsing {
    background-color: #152453;
    border-bottom-style: solid;
    border-color: azure;
  }
  .nbUl li {
    padding: 15px 0px;
  }
  .nbSearch {
    width: 50%;
    margin: 15px 10px;
  }
  .seccionContacto {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .seccionContacto__formulario {
    width: 100%;
  }
  .seccionContacto__formulario p {
    padding: 0px;
    margin: 0px;
  }
  .seccionContacto__img {
    width: 80%;
  }
  .seccionContacto__img p {
    text-align: center;
  }
  .seccionUbicacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .seccionUbicacion {
    width: 100%;
  }
  .seccionUbicacion__img, .seccionUbicacion__mapa {
    display: inline-block;
    text-align: center;
    width: 70vw;
  }
  .seccionUbicacion__mapa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
  }
  .seccionUbicacion__mapa div {
    width: 100%;
  }
  .seccionUbicacion__mapa div iframe {
    width: 100%;
  }
  .seccionUbicacion__mapa__info {
    width: 50%;
  }
}

@media screen and (max-width: 1350px) {
  #seccionNosotros, #seccionOfertas, #seccionContacto, #seccionUbicacion {
    width: 95%;
  }
  .seccionOfertas__ofertas, .seccionOfertas__ofertaActual {
    width: 90%;
  }
  .seccionOfertas__ofertas ul li, .seccionOfertas__ofertaActual ul li {
    width: 100%;
  }
  .seccionOfertas__ofertas ul li img, .seccionOfertas__ofertaActual ul li img {
    width: 90%;
    height: auto;
  }
  .seccionOfertas__ofertas ul li img:hover, .seccionOfertas__ofertaActual ul li img:hover {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 20px 0px azure;
            box-shadow: 0px 0px 20px 0px azure;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "roboto", sans-serif;
  color: azure;
  font-size: 10px;
  list-style: none;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#031546), color-stop(50%, #2b52bf), to(#031546));
  background: linear-gradient(90deg, #031546 0%, #2b52bf 50%, #031546 100%);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.d_n {
  display: none;
}
/*# sourceMappingURL=style.css.map */