@import "./partials/maps";
@import "./partials/extends";
@import "./partials/mixin";

@import "./partials/header";
@import "./partials/main";
@import "./partials/footer";
@import "./partials/sections/ofertas";
@import "./partials/sections/nosotros";
@import "./partials/sections/contacto";
@import "./partials/sections/ubicacion";
@import "./partials/mediaQuerys";


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    color: map-get($general, color-secondary);
    font-size: 10px;
    list-style: none;
}

body {
    background: linear-gradient(90deg, rgb(3, 21, 70) 0%, rgb(43, 82, 191) 50%, rgb(3, 21, 70) 100%);
    min-height: 100vh;
    @include flex (flex, baseline, center);
    flex-direction: column;
}