$color-primary: rgb(21, 36, 83);
$color-secondary: azure;
$border: 2px solid azure;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    color: azure;
    font-size: 10px;
    list-style: none;
}

body {
    background: linear-gradient(90deg, rgb(3, 21, 70) 0%, rgb(43, 82, 191) 50%, rgb(3, 21, 70) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logoResp {
    display: none;
}

.nbHeader {
    height: 20vh;
    width: 100%;
    background-color: $color-primary !important;
    border-bottom: $border;
    position: fixed;
    z-index: 5;
}

.nbContainer {
    height: 100%;
    padding: 0px;
}

.nbCollapse {
   justify-content: center; 
}

.nbBrand {
    height: 100%;
    margin: 0px;
    margin-left: 10vw;

    img {
        height: 100%;
    }

}

.nbUl {
    margin-left: 2vw;

    li {
        padding: 0vh 2vw;

        a{
            color: azure;
            text-decoration: none;
            padding: 2vh 2vw;
            border-radius: 10px;
            font-size: 2.3rem;
            text-shadow: 0 0 10px black;
            transition-property: background-color, font-size;
            transition-duration: 0.3s;

            &:hover {
                color: azure;
                font-size: 2.5rem;
                background-color: rgba(255, 255, 255, 0.4);
            }

        }

    }

}

.nbButton {
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 50px;

    img {
        width: 50px;
        height: 50px;
    }
}


.nbSearch {
    height: 40px;
    min-width: 250px;

    input, button {
        font-size: 2rem;
    }

}

#seccionNosotros, #seccionOfertas, #seccionContacto, #seccionUbicacion {
    padding: 20vh 0vw;
}

main {
    padding-top: 25vh;
}

.mainDivInicio {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.listaProductos {
    grid-column: 1/2;
    display: inline-block;
    height: 100%;
    text-align: center;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0%;
        width: 15vw;
    }

    &__titulo {
        font-size: 4rem;
        font-weight: bold;
        font-style: italic;
        display: inline-block;
        padding: 3vh 2vw;
        text-shadow: 0 0 10px black;
    }

    &__productos {
        width: 80%;
        background-color: rgb(26, 44, 97);
        border: $border;
        border-radius: 5px;

        button {
            width: 100%;
            font-size: 2rem;
            text-align: center;
            background-color: rgb(26, 44, 97);
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px 10px;
            transition-property: background-color;
            transition-duration: 0.2s;
            text-shadow: 0 0 10px black;

            &:hover{
                background-color: rgba(255, 255, 255, 0.4);
            }

        }

    }

}

.carruselOfertas {
    margin: 2vh 0vw;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caPerSlider {
    width: 80%;
    border: $border;
    border-radius: 5px;
}

.marcas  {

    grid-column: 1/3;
    text-align: center;
    width: 90%;
    margin: 0px auto;
    padding: 5vh 0vw;

    p {
        font-size: 3rem;
        display: block;
        padding-bottom: 3vh;
        text-shadow: 0 0 10px black;
        font-style: italic;
    }
    &__imgs{
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
    }

    img {
        width: 15rem;
        border: $border;
        display: inline-block;
    }
}

.seccionNosotros {
    width: 90%;
    margin: 20px auto;
    height: auto;
    border-radius: 10px;
    background-color: rgba(16, 11, 59, 0.5);
    border: $border;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;

        &__titulo {
            display: inline-block;
            text-shadow: 0 0 10px black;
            font-size: 5rem;
            padding: 2vh 0vw;
        }

        &__texto {
            display: inline-block;
            text-shadow: 0 0 10px black;
            width: 80%;
            font-size: 2.5rem;
        }
    }

    &__img {
        width: 50%;
        img {
            width: 100%;
            margin: 5% 0%;
            border-radius: 15px;
            border: $border;
        }
    }

}

.seccionOfertas {
    display: flex;
    flex-direction: column;
    padding: 5vh 0vw;
    text-align: center;

    &__ofertas, &__ofertaActual {
        width: 80%;
        margin: 20px auto;
        height: auto;
        border-radius: 10px;
        background-color: rgba(16, 11, 59, 0.5);
        border: $border;
        display: flex;
        flex-direction: column;

        p {
            font-size: 5rem;
            padding: 1vh 0;
            text-shadow: 0 0 10px black;
        }

        ul {
            padding: 1vh;
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            flex-wrap: wrap;
            width: 80%;
            margin: auto;

            li {
                margin: 5vh auto;
                transition-duration: 0.2s;
                transition-property: width;
            }

            img {
                width: 25rem;
                transition-duration: 0.2s;
                transition-property: width;
                border: $border;
                &:hover {
                    width: 30rem;
                    box-shadow: 0px 0px 20px 0px azure;
                }
            }
        }
    }

}

.seccionContacto {
    width: 90%;
    margin: 20px auto;
    height: 70vh;
    border-radius: 10px;
    background-color: rgba(16, 11, 59, 0.5);
    border: $border;
    display: flex;
    justify-content: space-evenly;

    &__formulario, &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__formulario {
        width: 40%;
        padding: 10px;
        form {
            width: 100%;
        }
        &__nyp {
            display: flex;
            justify-content:space-between;
        }
        p {
            font-size: 3rem;
            padding: 3vh 0;
            text-shadow: 0 0 10px black;
        }
        input {
            color:black;
            font-size: 1.5rem;
        }
        textarea {
            color:black;
            font-size: 1.5rem;
        }
        .conFormNombre, .conFormApellido {
            width: 49%;
            height: 5vh;
        }
        .conFormEmail {
            width: 100%;
            height: 5vh;
            margin: 1.2vh 0vw;
        }
        .conFormMensaje {
            width: 100%;
            height: 25vh;
            resize: none;
        }
    }

    &__img {
        img {
            width: 80%;
        }
        p {
            display: inline-block;
            font-size: 2rem;
            text-shadow: 0 0 10px black;
            text-decoration: underline;
        }
    }
}


.seccionUbicacion {
    width: 90%;
    margin: 20px auto;
    height: auto;
    border-radius: 10px;
    background-color: rgba(16, 11, 59, 0.5);
    border: $border;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__img, &__mapa {
        display: inline-block;
        text-align: center;
        width: 40vw; 
    }

    &__img {
        img {
            width: 100%;
        }
    }
    &__mapa {
        iframe {
            width: 100%;
        }

        &__titulo {
            font-size: 3rem;
            padding: 2vh 0;
            text-shadow: 0 0 10px black;
        }        

        &__info {
            p {
                font-size: 2rem;
                padding: 1vh 0;
                text-shadow: 0 0 10px black;
                text-decoration: underline;
            }
        }
    }
}

footer {
    margin-top: auto;
    display: flex;
    text-shadow: 0 0 10px black;
    background-color: $color-primary;
    height: 30vh;
    width: 100%;
    justify-content: space-around;
}

footer  {

    img {
        width: 6vw;
    }

    .sponsors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-size: 2rem;
            display: block;
            padding: 2vh;
            text-align: center;
        }
        &__imgs{
            display: flex;
            align-items: center;
            img {
                padding: 1vh;
            }
        }
    }

    .linksFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        ul {
            li {
    
                display: inline-block;
                padding: 1vw;
                a {
                    color: azure;
                    text-decoration: none;
                    font-size: 2rem;
                }
            }
        }
        p {
            color: azure;
            text-decoration: none;
            font-size: 2rem;
        }
    }

    .metodosDePago {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            color: azure;
            text-decoration: none;
            font-size: 2rem;
        }
    }
}


@media screen and (min-width:890px) and (max-width: 1100px) {

    footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: 0 0 10px black;
        width: 100%;
        height: 60vh;

        img {
            width: 10vw;
        }
    }
}

@media screen and (min-width: 709px) and (max-width: 889px) {

    footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: 0 0 10px black;
        width: 100%;
        height: 60vh;
        .sponsors__imgs{
            img {
                width: 15vw;
            }
        }
        .metodosDePago {
            img {
                width: 8vw;
            }
        }
    }


}

@media screen and (min-width: 0px) and (max-width: 708px){

    .mainDivInicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        height: 100%;
    }

    .listaProductos {
        align-self: flex-start;
        width: 50%;
    }

    .carruselOfertas {
        margin-top: 5vh;
        padding: 5vh 0vw;
        width: 90%;
    }

    .caPerSlider {
        width: 100%;
    }

    .seccionContacto__formulario {
        p {
            font-size: 2rem;
        }
    }

    footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: 0 0 10px black;
        width: 100%;
        height: 60vh;
        .sponsors__imgs{
            img {
                width: 20vw;
            }
        }
        .metodosDePago {
            img {
                width: 8vw;
            }
        }
    }
}

@media screen and (max-width: 1100px) {

    .nbHeader {
        display: flex;
        width: 100%;
        border-bottom: $border;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
    }
    
    .seccionNosotros {
        &__info {
            &__texto {
                font-size: 2rem;
            }
            &__titulo {
                font-size: 3rem;
            }
        }
        &__img {
            width: 80%;
        }
    }
}
@media screen and (max-width: 1200px) {

    .nbHeader {
        .logo {
            display:none;
        }
        a {
            width: auto;
        }
        .logoResp {
            display: inline-block;
        }
    } 

    .nbButton {
        margin-right: 10vw;
    }

    .nbCollapse.show, .nbCollapse.collapsing {
        background-color: $color-primary;
        border-bottom-style: solid;
        border-color: azure;
    }

    .nbUl {
        li {
            padding: 15px 0px;
        }
    }

    .nbSearch {
        width: 50%;
        margin: 15px 10px;
    }

    .seccionOfertas {
        &__ofertas, &__ofertaActual {
            p {
                font-size: 3rem;
            }
            ul {
                display: flex;
                flex-direction: column;
                align-content: center;
                width: 100%;
                li {
                    width: 70%;
                    img {
                        width: 100%;
                        &:hover {
                            width: 100%;
                            box-shadow: 0px 0px 20px 0px azure;
                        }
                    }
                    &:hover {
                        width: 75%;
                    }
                }
            }
        }
    }

    .seccionContacto {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__formulario {
            width: 80%;
            p {
                padding: 0px;
                margin: 0px;
            }
        }

        &__img {
            width: 50%;
        }
    }

    .seccionUbicacion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seccionUbicacion {
        &__img , &__mapa {
            display: inline-block;
            text-align: center;
            width: 70vw;
        }
    } 

    .seccionUbicacion  {
        &__mapa {
            width: 90vw;
            div {
                iframe {
                    width: 90%;
                }
            }
        }
    }
}
